<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Internal Server Error</title>
</head>
<body>
<h1> Admin Error page</h1>
    <h1>Internal Server Error</h1>
    <p>Sorry, something went wrong on our end. We are working to fix the issue. Please try again later.</p>

    <!-- Display the specific error and traceback information -->
    <h2>Error Details:</h2>
    <p>Error: {{ error }}</p>
    <p>Traceback:</p>
    <pre>{{ exc_info }}</pre>
</body>
</html>
